<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>
            Water Grapher
        </title>

        <link rel="shortcut icon" href=" {{ url_for('static', filename='favicon.ico') }}" />

        <!-- Skinned Bootstrap, FontAwesome and jQuery -->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootswatch/2.1.0/cyborg/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

		<!-- jQuery plugins -->
		<script src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.spin.js') }}"></script>
		<script src="{{ url_for('static', filename='js/flot/jquery.flot.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.numeric.js') }}"></script>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <h1>Water Grapher <i class="icon-bar-chart"></i></h1> </div>
            <ul class="nav nav-tabs">
			  <li class="active"><a href="#home" id="todayTab" data-toggle="tab">Today</a></li>
			  <li><a href="#profile" data-toggle="tab" id="historyTab">History</a></li>
			 <li class="pull-right"><a href="#signOut" data-toggle="tab" id="signOutTab" >Sign Out</a></li>
            </ul>

			<div class="tab-content">
			  <div class="tab-pane active" id="home">
			  		  	{% include "today.html" %}
			  </div>
			  <div class="tab-pane" id="profile">
			  		{% include "history.html" %}
			  </div>
			</div>

        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>

</html>