#placeholder
{
	width: 800px;
	height: 450px;
	margin:  5px auto;
}

#spinnerContainer{
	position: absolute;
	top: 50%;
	margin-top: -70px;
	left: 50%;
	margin-left: -35px;
	z-index: 2;
	border: 2px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 70px;
	width: 70px;
	background: rgba(50,50,50,0.5);
}

#errorAlert{
	display:none;
}

#amountInput{
	color: black;
}

#weightInput{
	color: black;
}

#home{
	position: relative;
	
}

#loginBox{
	display: inline-block;
	border: 2px solid;
	border-radius: 5px;
	margin: 20px auto;
	padding: 10px;
	text-align: left;
}
#loginBox input{
	color:black;
}

#signupError, #loginError{
	display: none;
}